@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "Canela";
  src: url("/fonts/Canela-BlackItalic.woff2") format("woff2"),
    url("/fonts/Canela-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Canela";
  src: url("/fonts/Canela-Black.woff2") format("woff2"),
    url("/fonts/Canela-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Canela";
  src: url("/fonts/Canela-Bold.woff2") format("woff2"),
    url("/fonts/Canela-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Canela";
  src: url("/fonts/Canela-BoldItalic.woff2") format("woff2"),
    url("/fonts/Canela-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Canela";
  src: url("/fonts/Canela-Light.woff2") format("woff2"),
    url("/fonts/Canela-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Canela";
  src: url("/fonts/Canela-LightItalic.woff2") format("woff2"),
    url("/fonts/Canela-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Canela";
  src: url("/fonts/Canela-MediumItalic.woff2") format("woff2"),
    url("/fonts/Canela-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Canela";
  src: url("/fonts/Canela-Regular.woff2") format("woff2"),
    url("/fonts/Canela-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Canela";
  src: url("/fonts/Canela-Medium.woff2") format("woff2"),
    url("/fonts/Canela-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Canela";
  src: url("/fonts/Canela-Thin.woff2") format("woff2"),
    url("/fonts/Canela-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Canela";
  src: url("/fonts/Canela-RegularItalic.woff2") format("woff2"),
    url("/fonts/Canela-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Canela";
  src: url("/fonts/Canela-ThinItalic.woff2") format("woff2"),
    url("/fonts/Canela-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "TT Firs Neue";
  src: url("/fonts/TTFirsNeue-Black.woff2") format("woff2"),
    url("/fonts/TTFirsNeue-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Firs Neue";
  src: url("/fonts/TTFirsNeue-BoldItalic.woff2") format("woff2"),
    url("/fonts/TTFirsNeue-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "TT Firs Neue";
  src: url("/fonts/TTFirsNeue-BlackItalic.woff2") format("woff2"),
    url("/fonts/TTFirsNeue-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "TT Firs Neue";
  src: url("/fonts/TTFirsNeue-Bold.woff2") format("woff2"),
    url("/fonts/TTFirsNeue-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Firs Neue";
  src: url("/fonts/TTFirsNeue-DemiBold.woff2") format("woff2"),
    url("/fonts/TTFirsNeue-DemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Firs Neue";
  src: url("/fonts/TTFirsNeue-DemiBoldItalic.woff2") format("woff2"),
    url("/fonts/TTFirsNeue-DemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "TT Firs Neue";
  src: url("/fonts/TTFirsNeue-ExtraBold.woff2") format("woff2"),
    url("/fonts/TTFirsNeue-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Firs Neue";
  src: url("/fonts/TTFirsNeue-ExtraLight.woff2") format("woff2"),
    url("/fonts/TTFirsNeue-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Firs Neue";
  src: url("/fonts/TTFirsNeue-ExtraLightItalic.woff2") format("woff2"),
    url("/fonts/TTFirsNeue-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "TT Firs Neue";
  src: url("/fonts/TTFirsNeue-ExtraBoldItalic.woff2") format("woff2"),
    url("/fonts/TTFirsNeue-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "TT Firs Neue";
  src: url("/fonts/TTFirsNeue-LightItalic.woff2") format("woff2"),
    url("/fonts/TTFirsNeue-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "TT Firs Neue";
  src: url("/fonts/TTFirsNeue-Light.woff2") format("woff2"),
    url("/fonts/TTFirsNeue-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Firs Neue";
  src: url("/fonts/TTFirsNeue-Italic.woff2") format("woff2"),
    url("/fonts/TTFirsNeue-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "TT Firs Neue";
  src: url("/fonts/TTFirsNeue-Medium.woff2") format("woff2"),
    url("/fonts/TTFirsNeue-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Firs Neue";
  src: url("/fonts/TTFirsNeue-Regular.woff2") format("woff2"),
    url("/fonts/TTFirsNeue-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Firs Neue";
  src: url("/fonts/TTFirsNeue-MediumItalic.woff2") format("woff2"),
    url("/fonts/TTFirsNeue-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "TT Firs Neue";
  src: url("/fonts/TTFirsNeue-ThinItalic.woff2") format("woff2"),
    url("/fonts/TTFirsNeue-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "TT Firs Neue";
  src: url("/fonts/TTFirsNeue-Thin.woff2") format("woff2"),
    url("/fonts/TTFirsNeue-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
