@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

@font-face {
  font-family: 'Telegraf';
  src: url('/fonts/Telegraf-UltraLight.woff2') format('woff2'),
      url('/fonts/Telegraf-UltraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Telegraf';
  src: url('/fonts/Telegraf-Regular.woff2') format('woff2'),
      url('/fonts/Telegraf-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Telegraf';
  src: url('/fonts/Telegraf-Light.woff2') format('woff2'),
      url('/fonts/Telegraf-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Telegraf';
  src: url('/fonts/Telegraf-Bold.woff2') format('woff2'),
      url('/fonts/Telegraf-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Telegraf';
  src: url('/fonts/Telegraf-UltraBold.woff2') format('woff2'),
      url('/fonts/Telegraf-UltraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Telegraf';
  src: url('/fonts/Telegraf-Black.woff2') format('woff2'),
      url('/fonts/Telegraf-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Telegraf';
  src: url('/fonts/Telegraf-SemiBold.woff2') format('woff2'),
      url('/fonts/Telegraf-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Telegraf';
  src: url('/fonts/Telegraf-Medium.woff2') format('woff2'),
      url('/fonts/Telegraf-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Sharp Grotesk';
  src: url('/fonts/SharpGrotesk-Black20.woff2') format('woff2'),
      url('/fonts/SharpGrotesk-Black20.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sharp Grotesk';
  src: url('/fonts/SharpGrotesk-Book20.woff2') format('woff2'),
      url('/fonts/SharpGrotesk-Book20.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sharp Grotesk';
  src: url('/fonts/SharpGrotesk-Thin20.woff2') format('woff2'),
      url('/fonts/SharpGrotesk-Thin20.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sharp Grotesk';
  src: url('/fonts/SharpGrotesk-SemiBold20.woff2') format('woff2'),
      url('/fonts/SharpGrotesk-SemiBold20.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sharp Grotesk';
  src: url('/fonts/SharpGrotesk-Medium20.woff2') format('woff2'),
      url('/fonts/SharpGrotesk-Medium20.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sharp Grotesk';
  src: url('/fonts/SharpGrotesk-Light20.woff2') format('woff2'),
      url('/fonts/SharpGrotesk-Light20.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sharp Grotesk';
  src: url('/fonts/SharpGrotesk-Bold20.woff2') format('woff2'),
      url('/fonts/SharpGrotesk-Bold20.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Neue Machina';
  src: url('/fonts/NeueMachina-Bold.woff2') format('woff2'),
      url('/fonts/NeueMachina-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('/fonts/NeueMachina-Black.woff2') format('woff2'),
      url('/fonts/NeueMachina-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('/fonts/NeueMachina-Medium.woff2') format('woff2'),
      url('/fonts/NeueMachina-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('/fonts/NeueMachina-Ultralight.woff2') format('woff2'),
      url('/fonts/NeueMachina-Ultralight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('/fonts/NeueMachina-Regular.woff2') format('woff2'),
      url('/fonts/NeueMachina-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('/fonts/NeueMachina-Ultrabold.woff2') format('woff2'),
      url('/fonts/NeueMachina-Ultrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('/fonts/NeueMachina-Light.woff2') format('woff2'),
      url('/fonts/NeueMachina-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

