@import "./fonts.css";
@tailwind base;
@tailwind components;

body {
  background-color: hsla(0, 10%, 87%, 1);
  background-color: hsla(60, 5%, 87%, 1);
}

.project-column:nth-child(odd) {
  @apply pl-4 pr-4;
}
.project-column:nth-child(even) {
  @apply pr-4 pl-4;
}

.headline {
  font-size: 11vw;
}

@screen lg {
  .project-column:nth-child(odd) {
    @apply pl-8 pr-0;
  }
  .project-column:nth-child(even) {
    @apply pr-8 pl-0;
  }
}

@screen xl {
  .project-column:nth-child(odd) {
    /* @apply pl-12 pr-0; */
  }
  .project-column:nth-child(even) {
    /* @apply pr-12 pl-0; */
  }
}

@tailwind utilities;
