@import "./fonts.css";
@import "swiper/swiper-bundle.css";
@tailwind base;
@tailwind components;

body {
  background-color: hsla(0, 10%, 87%, 1);
  background-color: hsla(60, 5%, 87%, 1);
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 24px;
  color: hsla(60, 5%, 87%, 1);
}

.swiper-button-prev,
.swiper-button-next {
  @apply bg-gray-900;
  width: 44px;
  height: 44px;
  border-radius: 9999px;
}
.swiper-button-prev { @apply text-gray-900; }
.swiper-container-horizontal > .swiper-pagination-bullets{
  bottom: 0;
}
.swiper-pagination-bullet {
  @apply bg-gray-900;
}

.carousel-dark {
  @apply bg-gray-900;
}

.carousel-dark .swiper-button-next { color: hsla(60, 5%, 87%, 1) }
.carousel-dark .swiper-button-prev { color: hsla(60, 5%, 87%, 1) }
.carousel-dark .swiper-pagination-bullet {
  background-color: hsla(60, 5%, 87%, 1);
}


.carousel-dark .swiper-button-prev:after,
.carousel-dark .swiper-button-next:after {
  @apply text-gray-900;
}

.carousel-dark .swiper-button-prev,
.carousel-dark .swiper-button-next {
  background-color: hsla(60, 5%, 87%, 1);
}

.carouselHeight {
  max-height: 75vh;
}

.headline {
  font-size: 11vw;
}

@screen lg {
  .project-column:nth-child(odd) {
    @apply pl-8 pr-0;
  }
  .project-column:nth-child(even) {
    @apply pr-8 pl-0;
  }
}

@screen xl {
  .project-column:nth-child(odd) {
    /* @apply pl-12 pr-0; */
  }
  .project-column:nth-child(even) {
    /* @apply pr-12 pl-0; */
  }
}

@tailwind utilities;
